html,
body {
  position: relative;
  height: 100%;
  position: relative;
  height: 100%;
}

#client2 {
  width: 100% !important;
}

.swiper-slide {
  width: 240px !important;
}

.swiper-slide-prev {
  width: 240px !important;
}
