@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Linden+Hill:ital@1&family=Montserrat:wght@600;700&family=Sofia+Sans+Condensed:ital,wght@0,400;0,600;0,900;1,1;1,100;1,200;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Login and Register Pages */
#main-login {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 94%);
  font-family: "Poppins";
}

#main-register {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 94%);
  font-family: "Poppins";
}
/* _________ */

body {
  background-color: black;
  color: white;
  font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden;  */
}

/* SCROLLBAR */
/* SCROLLBAR */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0024d6 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #0024d6;
  border-radius: 0px;
  border: 0px none #000000;
}

/* ___________ */

span {
  font-family: "Montserrat";
}

#portfolio {
  font-family: "Sofia Sans Condensed";
  background-color: black;
  overflow-x: hidden;
}

em {
  font-family: "Linden Hill";
}

/* em {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
} */

.grid-cols-13 {
  grid-template-columns: repeat(13, minmax(0, 1fr));
}

button.MuiButtonBase-root {
  color: white;
  border: 2px solid #64748b;
}

ul.MuiPagination-ul {
  width: 25rem;
}

/* span class=loader (/settings) */
.loader {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  display: inline-block;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* For Pages not done yet */

* {
  box-sizing: border-box;
}

.not-done-yet {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  display: grid;
  margin: 0;
  min-block-size: 100vh;
  place-items: center;
}

h1 {
  background-clip: text;
  /* background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f); */
  background-image: linear-gradient(
    to right,
    #00a2ff,
    #00a2ff,
    #9409f1,
    #9409f1
  );
  font-family: sans-serif;
  color: #000119;
  font-size: 20vmin;
  font-weight: 700;
  letter-spacing: calc(1em / 8);
  padding: calc(calc(1em / 16) / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
}
